#login-wrapper{
    padding: 20px;
    width: 395px;
    margin: 0px auto;
    margin-top: 20px;
    text-align: center;
}

#login-wrapper img{
    margin-bottom: 20px;
}

#login-wrapper h1{
    color: #4f4f4f;
    text-align: center;
    font-weight: 200;
    font-size: 22px;
}

.form-error{
    color: #FF7163;
    display: block;
    margin: auto;
    margin-bottom: 1em;
    width: 300px;
}

.input-error {
    border: 2px solid red;
}

/* form */
form {
    font-size: 18px;
    text-align: center;
    background-color: #fff;
    padding: 20px 0px 40px 0px;
    border: 1px solid #AAAAAA;
    position: relative;
    z-index: 100;
}

.forgot-password {
    display: inline-block;
    margin-top: 10px;
}

#login-form .btn {
    margin: 20px 30px 0 30px;
    width: 280px;
    height: 40px;
}

#login-form input {
    margin: 5px 0;
    width: 280px;
}

/*form input[type='text'],
form input[type='password'],
form input[type='email'] {
    width: 100%;
    font-size: 18px;
    padding: 10px;
}

form input[type='text']{
    border-bottom: 1px solid #c8c8c8;
}*/
