@import url(http://fonts.googleapis.com/css?family=Yesteryear);
@import url(http://fonts.googleapis.com/css?family=Kite+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);


#nv1{
	height: 55px;
	background-color: #f96243;
	padding-top: 5px;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
	position: fixed;
	width: 100%;
	border-bottom: 2px solid rgba(0,0,0,0.44);
	z-index: 9999;
}

#nv1 a:link{
	color: #ffffff;
	text-decoration: none;
}

#nv1 a:visited{
	color: #ffffff;
	text-decoration: none;
}

#nv1 a:hover{
	color: #ffffff;
	text-decoration: none;
}

#nv1 a:active{
	color: #ffffff;
	text-decoration: none;
}

#nv1-wrapper{
	width: 960px;
	margin: 0px auto;
}

#nv1-logo{
	font-family: 'Yesteryear', cursive;
	float: left;
	line-height: 1;
	margin-top: 9px;
	font-weight: 200;
	margin-right: 40px
}

#nv1-wrapper img{
	float: left;
	margin-right: 10px;
}

.nv1-opt{
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	color: #ffffff;
	margin-top: 13px;
}

#nv1-search-form{
	float: right;
}

#nv1-search-box{
	font-size: 20px;
	padding: 6px;
	border: none;
	border-radius: 5px;
	width: 210px;
}

.nv1-search{
	color: #ffffff;
	margin-top: 7px;
	background-color: #4a9cff;
	padding: 7px 20px;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	font-size: 18px;
}
.nv1-search:hover{
	box-shadow: inset 0px 0px 6px rgba(0,0,0,0.38);
}


