# Disallow known spambots
SetEnvIfNoCase Referer econom.co spam=yes
SetEnvIfNoCase Referer ILoveVitaly.com spam=yes
SetEnvIfNoCase Referer ILoveVitaly.ru spam=yes
SetEnvIfNoCase Referer ILoveVitaly.org spam=yes
SetEnvIfNoCase Referer ILoveVitaly.co spam=yes
SetEnvIfNoCase Referer ILoveVitaly.info spam=yes
SetEnvIfNoCase Referer ILoveVitaly.net spam=yes
SetEnvIfNoCase Referer ILoveItaly.ru spam=yes
SetEnvIfNoCase Referer shopping.ilovevitaly.ru spam=yes
SetEnvIfNoCase Referer maps.ilovevitaly.ru spam=yes
SetEnvIfNoCase Referer iedit.ilovevitaly.ru spam=yes
SetEnvIfNoCase Referer shopping.ilovevitaly.com spam=yes
SetEnvIfNoCase Referer maps.ilovevitaly.com spam=yes
SetEnvIfNoCase Referer iedit.ilovevitaly.com spam=yes
SetEnvIfNoCase Referer 230-60-110-78.net.hts.ru spam=yes
SetEnvIfNoCase Referer net.hts.ru spam=yes
SetEnvIfNoCase Referer 78.110.60.230 spam=yes
SetEnvIfNoCase Referer darodar.com spam=yes
SetEnvIfNoCase Referer priceg.com spam=yes
Order allow,deny
Allow from all
Deny from env=spam

# To be removed for production
<IfModule pagespeed_module>
    ModPagespeed off
</IfModule>

<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>

    RewriteEngine On

    # Rewrite non-www to www
    RewriteCond %{HTTP_HOST} !^www\.
    RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

    # Redirect all requests to /coming-soon/* to /blog/*
    Redirect 301 /coming-soon /blog

    # Do not handle these routes with laravel
    RewriteRule ^(phpmyadmin) - [L]
    RewriteRule ^(dashboard) - [L]
    RewriteRule ^(docs) - [L]
    RewriteRule ^(blog) - [L]
    RewriteRule ^(ocp) - [L]

    # Redirect Trailing Slashes
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

