<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Exceptions...
    RewriteCond %{REQUEST_URI} !^/phpmyadmin
    RewriteCond %{REQUEST_URI} !^/blog
    RewriteCond %{REQUEST_URI} !^/dashboard
    RewriteCond %{REQUEST_URI} !^/coming-soon
    RewriteCond %{REQUEST_URI} !^/docs

    # Redirect all requests to /coming-soon/* to /blog/*
    Redirect 301 /coming-soon /blog

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

