## Disallow known spambots
SetEnvIfNoCase Referer econom.co spam=yes
SetEnvIfNoCase Referer ILoveVitaly.com spam=yes
SetEnvIfNoCase Referer ILoveVitaly.ru spam=yes
SetEnvIfNoCase Referer ILoveVitaly.org spam=yes
SetEnvIfNoCase Referer ILoveVitaly.co spam=yes
SetEnvIfNoCase Referer ILoveVitaly.info spam=yes
SetEnvIfNoCase Referer ILoveVitaly.net spam=yes
SetEnvIfNoCase Referer ILoveItaly.ru spam=yes
SetEnvIfNoCase Referer shopping.ilovevitaly.ru spam=yes
SetEnvIfNoCase Referer maps.ilovevitaly.ru spam=yes
SetEnvIfNoCase Referer iedit.ilovevitaly.ru spam=yes
SetEnvIfNoCase Referer shopping.ilovevitaly.com spam=yes
SetEnvIfNoCase Referer maps.ilovevitaly.com spam=yes
SetEnvIfNoCase Referer iedit.ilovevitaly.com spam=yes
SetEnvIfNoCase Referer 230-60-110-78.net.hts.ru spam=yes
SetEnvIfNoCase Referer net.hts.ru spam=yes
SetEnvIfNoCase Referer 78.110.60.230 spam=yes
SetEnvIfNoCase Referer darodar.com spam=yes
SetEnvIfNoCase Referer priceg.com spam=yes
SetEnvIfNoCase Referer годом.рф spam=yes
Order allow,deny
Allow from all
Deny from env=spam

<Files 403.shtml>
    order allow,deny
    allow from all
</Files>

## Block known Wordpress login brute-force bots
deny from 79.137.234.114

## To be removed for production
<IfModule pagespeed_module>
    ModPagespeed off
</IfModule>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    RewriteRule ^$ /blog/ [R=301,L]

    ## Redirect all requests to /coming-soon/* to /blog/*
    Redirect 301 /coming-soon /blog/
</IfModule>
