*.sql
ftpsync.settings
*.sublime-project
*.sublime-workspace
public_html/blog/
public_html/phpmyadmin/
.ftpquota
app/storage/
error_log
.cache/
.buildpath
.project
.settings
.env.testing.php
composer.phar
app/tests/reports

# Krystal hosting webspace files
.bash_history
.bash_logout
.bash_profile
.bashrc
.cagefs/
.cl.selector/
.composer/
.contactemail/
.cpanel/
.fontconfig/
.gnupg/
.htaccess
.lastlogin
.lesshst
.my.cnf
.pearrc
.razor/
.softaculous/
.spamassassin/
.sqmaildata/
.ssh/
COMMENT
access-logs
backup-*
bootstrap/compiled.php
composer
cpbackup-exclude.conf
etc/
logs/
mail/
php/
public_html/.DS_Store
public_html/S-bByKNlLzrQGEfkzEbzqZnlYT8.html
ssl/
tmp/
www
