*.sql
ftpsync.settings
root.sublime-project
root.sublime-workspace
public_html/blog/
public_html/phpmyadmin/
.ftpquota
app/storage/
error_log
.cache/

# pixeno server files to be ignored
.bash_history
.bash_logout
.bash_profile
.bashrc
.cagefs/
.cl.selector/
.composer/
.contactemail
.cpanel/
.fontconfig/
.gnupg/
.lastlogin
.softaculous
.spamassassin/
.sqmaildata/
.ssh/
access-logs
etc/
logs/
mail/
tmp/
www
.buildpath
.project
.settings
