#nav{
	height: 50px;
	background-color: #373737;
	box-shadow: 0px 0px 10px black;
	position: fixed;
	width: 100%;
	z-index: 9997;
}

#nav-wrapper{
	margin: 0px auto;
	z-index: 9997;
	padding: 8px 10px;
}

#logo{
	float: left;
	margin: 0;
}

#logo a:link{
	color: #fff;
	text-decoration: none;
}
#logo a:active{
	color: #fff;
	text-decoration: none;
}
#logo a:visited{
	color: #fff;
	text-decoration: none;
}
#logo a:hover{
	color: #fff;
	text-decoration: none;
}


#nav-wrapper img{
	float: left;
	width: 200px;
	margin-top: 2px;
}

.nav-opt{
	float: right;
	padding-left: 30px;
	padding-right: 30px;
	color: #ffffff;
	margin-top: 9px;
}

.nav-opt a:link{
	color: #fff;
}

.nav-opt a:hover{
	color: #4a9cff;
}

.nav-opt a:visited{
	color: #fff;
}

.nav-opt a:active{
	color: #fff;
}

#logout{
	color: #ffffff;
	background-color: #4a9cff;
	padding: 5px 20px;
	border-radius: 1px;
	cursor: pointer;
	border: none;
	font-size: 18px;
	float: right
}
#search-form{
	float: right;
}

#search-box{
	font-size: 20px;
	padding: 4px;
	border: none;
	border-radius: 5px;
	width: 210px;
}

.submit{
	color: #ffffff;
	margin-top: 7px;
	background-color: #4a9cff;
	padding: 7px 20px;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	font-size: 18px;
}
.submit:hover{
	box-shadow: inset 0px 0px 6px rgba(0,0,0,0.38);
}


