.panel-basket {

}

.tab-nav {
	  padding: 40px 0 10px;
}

#booking-summary {
	.panel-heading {
		padding: 6px 10px;
	}

	.accordian-heading{
		font-size: 12px;
		color: #fff!important;
	}

	.booking-detail-expand {
		font-size: 20px;
	}
}