/* COLOR THEME */
/*
BLUE - #4a9cff
DEEP BLUE - #34495e
DARK GREY - #4f4f4f
LIGHT GREY - #c8c8c8
HELPER YELLO - #fff7cb
RED - #FF7163
PURPLE - #6D6A99
*/

html{
	height: 100%;
	/* min-height: 700px; */
}

*{
	position: relative;
	z-index: 10;
}

body{
	background-color: #c8c8c8;
}

p {
	/* width: 300px; */
	margin-left: auto;
	margin-right: auto;
}

label {
	display: block;
	/* text-align: left; */
	margin-top: 0.5em;
	/*margin-left: 57px;*/
}

#login-wrapper{
	padding: 20px;
	width: 395px;
	margin: 0px auto;
	margin-top: 20px;
	text-align: center;
}

#login-wrapper img{
	margin-bottom: 20px;
}

#login-wrapper h1{
	color: #4f4f4f;
	text-align: center;
	font-weight: 200;
	font-size: 22px;
}

#register-wrapper{
	padding: 20px;
	width: 70%;
	margin: 0px auto;
	margin-top: 20px;
	text-align: center;
}

#register-wrapper img{
	margin-bottom: 20px;
}

#register-wrapper h1{
	color: #4f4f4f;
	text-align: center;
	font-weight: 200;
	font-size: 22px;
}

.form-error{
	color: #FF7163;
	display: block;
	margin: auto;
	margin-bottom: 1em;
	width: 300px;
}

/* form */
form {
	font-size: 18px;
	text-align: center;
	background-color: #fff;
	padding: 20px 0px 40px 0px;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.48);
	margin-bottom: 10px;
	position: relative;
	z-index: 100;
}


#register-form {
	padding: 0;
	box-shadow: none;
	margin-bottom: 0;
}


form input[type='text'],
form input[type='password'],
form input[type='email'] {
	/* border: none; */
	width: 300px;
	width: 280px;
	/* margin: 0px; */
	/* outline: none; */
	font-size: 18px;
	padding: 10px 0px;
	padding: 10px;
	/* border-bottom: 1px solid #c8c8c8; */
}

form input[type='text']{
	border-bottom: 1px solid #c8c8c8;
}

form select {
	width: 300px;
	padding: 10px;
	height: 46px;
	font-size: 18px;
}
/*
form select{
	padding:3px;
	margin: 10px;
	background: #f8f8f8;
	color:#888;
	border:none;
	border-bottom: 1px solid #c8c8c8;
	outline:none;
	display: block;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
	width: 300px;
	-webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}

form .select{
	margin-left: 40px;
}

form .select:after{
	content: '\25BC';
	display: block;
	position: absolute;
	font-size: 16px;
	line-height: 1;
	margin-top: -35px;
	margin-left: 285px;
	color: #c8c8c8;
}
*/

form .submit-bttn,
form .register-bttn {
	margin: auto;
	margin-top: 20px;
	display: block;
	width: 300px;
	padding: 10px 0px;
}
form .submit-bttn div,
form .register-bttn div {
	display: none;
	font-size: 12px;
}
form .submit-bttn.loading div,
form .register-bttn.loading div {
	display: inline-block;
	margin-top: -1em;
}

.errorMssg{
	font-size: 14px;
	color: #FF7163;
}

footer{
	background: none;
	position: fixed;
	bottom: 0px;
	text-align: left;
	padding: 20px;
	z-index: 1;
}

#register{
	background-color: rgba(0,0,0,0.2);
	padding: 10px;
}

#register:link,
#register:hover,
#register:active,
#register:visited{
	color: #fff;
	text-decoration: none;
}
#register:hover{
	background-color: rgba(0,0,0,0.4);
}

.container {
	font-size: 18px;
	text-align: center;
	background-color: #fff;
	padding: 20px 0px 40px 0px;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.48);
	margin-bottom: 10px;
	position: relative;
	z-index: 100;
}

.register-col {
	width:45%;
	float:left;
	padding-right:45px;
	text-align:left;
}

.register-col input[type='text']{
	width:100%;
}


