<p>
	<select class="room-type-select"
	onchange="$(this).siblings('input').attr('name', 'boatrooms['+ $(this).val() +'][capacity]');">
		{{#each boatrooms}}
			<option value="{{id}}">{{name}}</option>
		{{/each}}
	</select>
	Number of beds:
	<input type="number" name="boatrooms[{{firstID boatrooms}}][capacity]" value="{{capacity}}" placeholder="0" style="width: 100px;" min="0">
	<button class="btn btn-danger remove-room">&#215;</button>
</p>