<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    ## Redirect to https version if production (NC = not case-sensitive)
    #RewriteCond %{HTTPS} off
    #RewriteCond %{HTTP_HOST} =rms.scubawhere.com [NC]
    #RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>
