.row {
    font-size: 14px;
}

.btn:link{
    color: #FFFFFF!important;
}

.mb0 { margin-bottom: 0!important; }
.mb5 { margin-bottom: 5px!important; }
.mb10 { margin-bottom: 10px!important; }

@media (min-width: 1200px) {
    .container {
        width: 1120px!important;
    }
}