
.btn:link{
    color: #FFFFFF!important;
}

.bootstrap-datetimepicker-widget .btn:link {
    color: #4A9CFF !important;
}

.mb0 { margin-bottom: 0!important; }
.mb5 { margin-bottom: 5px!important; }
.mb10 { margin-bottom: 10px!important; }

.nav-wizard>li {
    float: left;
    display: block;
    width: 12.5%;
}

.nav-wizard>li>a {
    font-size: 14px;
    color: #656d78;
    text-decoration: none;
    display: block;
    line-height: 18px;
    padding: 10px 20px 20px 6px!important;
    position: relative;
}

.nav-wizard>li>a .step-description {
    display: none;
}

@media (min-width: 992px) {
    .nav-wizard>li>a .step-description {
        display: block;
    }
}

.nav-wizard>li>a:before {
    content: " ";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #D5D5D5;
    z-index: 2;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.nav-wizard>li>a:after {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 22px;
    height: 22px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FFF;
    border: 3px solid #D5D5D5;
    z-index: 3;
    text-align: center;
    line-height: 17px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #DDD;
}

.nav-wizard>li>a.selected:before {
    background: #656d78;
}

.nav-wizard>li>a.selected:after {
    border-color: #656d78;
    content: "\f0da";
    font-family: FontAwesome;
    color: #656d78;
    font-size: 13px;
    padding-left: 2px;
}

.nav-wizard>li>a.done:before {
    background: #95b75d;
}

.nav-wizard>li>a.done:after {
    border-color: #95b75d;
    content: "\f00c";
    font-family: FontAwesome;
    color: #95b75d;
    font-size: 10px;
}

.summary-totals {
    font-size: 18px;
}

.package-ticket-item {
    padding: 5px 10px;
    font-size: 12px;
}

.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
    border-width: 1px;
}


.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
    border-bottom: 1px solid #dddddd;
}

.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
    border-top-width: 0;
}

.panel-packages .panel-heading {
    padding: 8px 10px;
}
.panel-packages .panel-title {
    font-size: 13px;
}

#booking-summary .panel {
    margin-bottom: 5px;
}

.remove-package,
.remove-course {
    margin-top: -10px;
    margin-right: -10px;
}

#tickets-ticket-list .panel {
    border-color: rgba(0, 0, 0, 0);
}

#session-tab .list-group {
    margin-bottom: 0;
}

#session-tickets .btn {
    text-align: left;
}
#session-tickets .btn:active,
#session-tickets .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
#session-tickets .btn input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

#session-tickets .panel {
    margin-bottom: 0;
}




/* ###################### */
/* ### SUMMARY SCREEN ### */
/* ###################### */

/* Take care of image borders and formatting, client hacks */
#summary-tab img {
    max-width: 600px;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
}
#summary-tab a img {
    border: none;
}
#summary-tab table {
    border-collapse: collapse !important;
}
#summary-tab table td {
    border-collapse: collapse;
}
.container-for-gmail-android {
    min-width: 600px;
}

#summary-tab body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
}

#summary-tab td {
	font-size: 14px;
	color: #777777;
	/*text-align: center;*/
    vertical-align: top;
	line-height: 21px;
}

#summary-tab a {
	color: #676767;
	text-decoration: none !important;
}

.header-lg,
.header-md,
.header-sm {
	font-size: 32px;
	font-weight: 700;
	line-height: normal;
	padding: 35px 0 0;
	color: #4d4d4d;
}

.header-md {
	font-size: 24px;
}

.header-sm {
	padding: 5px 0;
	font-size: 18px;
	line-height: 1.3;
}

.content-padding {
	padding: 20px 0 5px;
}

.mobile-header-padding-right {
	width: 290px;
	text-align: right;
	padding-left: 10px;
}

.mobile-header-padding-left {
	width: 290px;
	text-align: left;
	padding-left: 10px;
	padding-bottom: 8px;
}

.free-text {
	width: 100% !important;
	padding: 10px 60px 0 60px;
}

.button {
	padding: 30px 0;
}

.mini-block {
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	background-color: #ffffff;
	padding: 12px 15px 15px;
	text-align: left;
	width: 253px;
}

.mini-container-left {
	width: 278px;
	padding: 10px 0 10px 15px;
}

.mini-container-right {
	width: 278px;
	padding: 10px 14px 10px 15px;
}

.product {
	text-align: left;
	vertical-align: top;
	width: 175px;
}

.total-space {
	padding-bottom: 8px;
	display: inline-block;
}

.item-table {
}

.item {
	width: 300px;
	padding-bottom: 5px;
}

.title {
	padding-bottom: 10px;
	width: 300px;
}

.mobile-hide-img {
	text-align: left;
	width: 125px;
}

.mobile-hide-img img {
	border: 1px solid #e6e6e6;
	border-radius: 4px;
}

.title-dark {
	text-align: left;
	border-bottom: 1px solid #cccccc;
	color: #4d4d4d;
	font-weight: 700;
	padding-bottom: 5px;
}

.item-col {
	padding-top: 20px;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 20px;
}

.item-col-inner {
	text-align: left;
	vertical-align: top;
}

.item-col-last {
	padding-top: 20px;
	text-align: left;
	vertical-align: top;
}

.force-width-gmail {
	min-width:600px;
	height: 0px !important;
	line-height: 1px !important;
	font-size: 1px !important;
}
