

.btn:link{
    color: #FFFFFF!important;
}

.mb0 { margin-bottom: 0!important; }
.mb5 { margin-bottom: 5px!important; }
.mb10 { margin-bottom: 10px!important; }

.nav-wizard>li {
    float: left;
    display: block;
    width: 12.5%;
}

.nav-wizard>li>a {
    font-size: 14px;
    color: #656d78;
    text-decoration: none;
    display: block;
    line-height: 18px;
    padding: 10px 20px 20px 6px!important;
    position: relative;
}

.nav-wizard>li>a .step-description {
    display: none;
}

@media (min-width: 992px) {
    .nav-wizard>li>a .step-description {
        display: block;
    }
}

.nav-wizard>li>a:before {
    content: " ";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #D5D5D5;
    z-index: 2;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.nav-wizard>li>a:after {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 22px;
    height: 22px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FFF;
    border: 3px solid #D5D5D5;
    z-index: 3;
    text-align: center;
    line-height: 17px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #DDD;
}

.nav-wizard>li>a.selected:before {
    background: #656d78;
}

.nav-wizard>li>a.selected:after {
    border-color: #656d78;
    content: "\f0da";
    font-family: FontAwesome;
    color: #656d78;
    font-size: 13px;
    padding-left: 2px;
}

.nav-wizard>li>a.done:before {
    background: #95b75d;
}

.nav-wizard>li>a.done:after {
    border-color: #95b75d;
    content: "\f00c";
    font-family: FontAwesome;
    color: #95b75d;
    font-size: 10px;
}

.summary-totals {
    font-size: 18px;
}

.package-ticket-item {
    padding: 5px 10px;
    font-size: 12px;
}

.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
    border-width: 1px;
}


.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
    border-bottom: 1px solid #dddddd;
}

.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
    border-top-width: 0;
}

.panel-packages .panel-heading {
    padding: 8px 10px;
}
.panel-packages .panel-title {
    font-size: 13px;
}

#booking-summary .panel {
    margin-bottom: 5px;
}

.remove-package,
.remove-course {
    margin-top: -10px;
    margin-right: -10px;
}

#session-tab .list-group {
    margin-bottom: 0;
}

#session-tickets .btn {
    text-align: left;
}
#session-tickets .btn:active,
#session-tickets .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
#session-tickets .btn input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

#session-tickets .panel {
    margin-bottom: 0;
}
