.ExcelTable {
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.ExcelTable td {
    min-width: 150px;
}

.ExcelTable_Row {
    border: 1px solid #0c0c0c;
    text-align: center;
}

.ExcelTable_Date {
    width: 20%;
}

.ExcelTable_Header {
    font-size: 18px;
    text-transform: uppercase;
}