ul.table-list{
	list-style: none;
	padding: 0px;
	display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0px;
}

ul.table-list > li {
	display: inline-block;
	width: 100%;
}

ul.table-list > li:nth-child(odd)	{ background-color:#e7eef8; }
ul.table-list > li:nth-child(even)	{ background-color:#fff; }

ul.table-list > li > ul{
	list-style: none;
}

ul.table-list form input{
	font-size: 13px;
	padding: 3px;
}

ul.table-list form [type="text"]{
	width: 125px;
}

ul.table-list > li > span{
	margin: 10px;
	display: block;
}


ul.table-list > li > span:first-child{
	font-size: 15px;
	float: none;
}

ul.table-list > li > div{
	padding: 10px;
	width: 50%;
}

#new-boat-foot,
#new-type-foot{
	font-size: 0px;
}

#new-boat-foot input,
#new-type-foot input{
	margin: 0px;
	margin-bottom: 3px;
	margin-right: 3px;
}

#new-boat-foot span,
#new-type-foot span{
	display: block;
	font-size: 13px;
}

#new-boat-foot textarea,
#new-type-foot textarea
{
	width: 497px;
	display: block;
	margin-bottom: 3px;
}

#new-type-foot input{
	display: block;
}

@media all and (max-width: 714px) {
  #new-boat-foot textarea,
  #new-type-foot textarea
   {
   	width: 241px;
   	height: 150px;
  }
}