<label class="field-label">New Price : </label>
<input id="override-price"
       type="number"
       placeholder="00.00"
       min="0"
       data-booking-id="{{booking_id}}"
       data-booking-detail-id="{{bookingdetail_id}}"
       data-type="{{type}}"
       data-id="{{id}}"
       step="0.01"/>
