/**
 * Variables to be used throughout the SASS files
*/

// Colour theme
$blue: #4a9cff;
$darkBlue: #34495e;
$darkGrey: #4f4f4f;
$faintGrey: #ebebeb;
$lightGrey: #c8c8c8;
$yellow: #fff7cb;
$green: #4EE87D;
$red: #FF7163;
$purple: #6D6A99;


