<div id="wrapper" class="clearfix">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Available {{model}}s</h4>
        </div>
        <div class="panel-body">
          <button class="btn btn-success text-uppercase">&#x2B; Add {{model}}</button>
          <ng-content select="entity-list"></ng-content>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">{{action}} {{model}}</h4>
        </div>
        <div class="panel-body">
          <ng-content select="entity-form"></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
