@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import url(/common/css/normalize.css);
@import url(../header/header.css);
@import url(../footer/footer.css);


/* COLOR THEME */
/*
BLUE - #4a9cff
DEEP BLUE - #34495e
DARK GREY - #4f4f4f
LIGHT GREY - #c8c8c8
HELPER YELLO - #fff7cb
RED - #FF7163
PURPLE - #6D6A99
*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* This style sheet is used on all pages in /dashboard/ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html, body{
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	color: #313131;
	font-size: 13px;
}

.loader {
	display: inline-block;
	margin-left: 1em;
	font-size: 10px;
	position: relative;
	top: 0.5em;
	text-indent: -9999em;
	border-top:    0.5em solid rgba(0, 0, 0, 0.1);
	border-right:  0.5em solid rgba(0, 0, 0, 0.1);
	border-bottom: 0.5em solid rgba(0, 0, 0, 0.1);
	border-left:   0.5em solid #9f9f9f;
	-webkit-animation: load8 0.6s infinite linear;
	-moz-animation: load8 0.6s infinite linear;
	-ms-animation: load8 0.6s infinite linear;
	-o-animation: load8 0.6s infinite linear;
	animation: load8 0.6s infinite linear;
}
.loader,
.loader:after {
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-moz-keyframes load8 {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-ms-keyframes load8 {
	0% {
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-o-keyframes load8 {
	0% {
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.questionmark-tooltip {
	color: grey;
	border: 2px solid;
	border-radius: 50%;
	width: 1.35em;
	font-weight: bold;
	text-align: center;
	margin-left: 0.5em;
	margin-top: -0.2em;
	cursor: help;
}

.trashed {
	opacity: 0.6;
}

/*				ELEMENT STYLES
*******************************/
*:disabled {
	opacity: 0.5;
}

a:link,
a:visited,
a:active,
a:hover{
	color: #4a9cff;
	text-decoration: none;
}

a:hover{ text-decoration: underline; }

hr{
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.1)
}

.padder{ padding: 20px; }
.margin{ margin: 20px; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ form */
input, textarea, select{
	font-size: 18px;
	padding: 5px;
	border: 1px solid #c8c8c8;
	color: #313131;
	margin: 0px 5px 5px 0px;
}

textarea{
	width: 501px; /* width of two text fields */
	display: block;
}

select{
	font-size: 16px;
	background: #ffffff;
	border: 1px solid #bfbfbf;
	height: 33px;
}

.check-wrap {
	width: 25px;
	position: relative;
}

.check-wrap  label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0px;
	background: #eee;
	border:1px solid #ddd;
}

td .check-wrap  label {
	right: -10px;
	top: -4px;
}

.check-wrap label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #34495e;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.check-wrap label:hover::after { opacity: 0.5; }

.check-wrap input[type=checkbox]{
	/*
right: -9999px;
	position: absolute;
*/
}

.check-wrap input[type=checkbox]:checked
+ label:after { opacity: 1}

/* relies on */
/*
<div class="check-wrap">
	<input type="checkbox" value="1" id="name" name="name" />
  	<label for="name"></label>
</div>
*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ table */
table{ width: 100%; }

/* default */
table thead th{
	background-color: #4a9cff;
	color: #fff;
	padding: 10px;
	font-size: 14px;
	font-weight: 400;
	font-weight: bold;
	text-align: left;
}

table td{padding: 10px;}
tr:nth-child(odd)	{ background-color:#e7eef8; }
tr:nth-child(even)	{ background-color:#fff; }
tfoot > tr			{ border-top: 1px solid #c8c8c8 }

.col10{width: 10%}
.col20{width: 20%}
.col30{width: 30%}
.col40{width: 40%}
.col50{width: 50%}
.col60{width: 60%}
.col70{width: 70%}

.col10c{width: 10%;text-align: center;}
.col20c{width: 20%;text-align: center;}
.col30c{width: 30%;text-align: center;}
.col40c{width: 40%;text-align: center;}
.col50c{width: 50%;text-align: center;}
.col60c{width: 60%;text-align: center;}
.col70c{width: 70%;text-align: center;}
.colc  {text-align: center}
.colr  {text-align: right}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ buttons */

.bttn{
	display: inline-block;
	border: none;
	margin: 0px;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	/*
	-webkit-transition: all ease 1s;
    -moz-transition: 	all ease 1s;
    -o-transition: 		all ease 1s;
    transition: 		all ease 1s;
    */
}

.bttn.redb:hover	{background-color: #ce584e}
.bttn.blueb:hover	{background-color: #2e66aa}
.bttn.purpleb:hover	{background-color: #474565}
.bttn.greenb:hover  {background-color: #176620}
.bttn.lgreyb:hover	{background-color: #747474}
.bttn.dgreyb:hover	{background-color: #282828}

.big-bttn{
	font-size: 18px;
	padding: 10px;
}

.small-bttn{
	font-size: 13px;
	padding: 7px;
}

/* use for adding link characteristics to any element */
.link{cursor: pointer; color: #4a9cff}
.link:hover{text-decoration: underline}

/*						COLORS
*******************************/

.dgreyb{background-color: #4f4f4f}
.dgreyf{color: #4f4f4f}

.lgreyb{background-color: #c8c8c8}
.lgreyf{color: #c8c8c8}

.redb{background-color: #FF7163}
.redf{color: #FF7163}

.blueb{background-color: #4a9cff}
.bluef{color: #4a9cff}

.purpleb{background-color: #6D6A99}
.purplef{color: #6D6A99}

.greenb{background-color: #229930}
.greenf{color: #229930}

.greyb{background-color: #4f4f4f}
.greyf{color: #4f4f4f}

.box30{
	vertical-align: top;
	font-size: 13px;
	width: calc(30% - 5px);
	display: inline-block;
	margin-bottom: 15px;
	background-color: #fff;
}

.box30:first-child{
	margin-right: 10px;
}

.box20  > label,
.box30  > label,
.box50  > label,
.box70  > label,
.box80  > label,
.box100 > label {
	color: #ffffff;
	display: block;
	padding: 10px;
	font-size: 17px;
	border-radius: 0px;
	text-transform: capitalize;
}

.box70{
	vertical-align: top;
	font-size: 13px;
	width: calc(70% - 5px);
	display: inline-block;
	margin-bottom: 15px;
	background-color: #fff;
}

.box70:first-child{
	margin-right: 10px;
}

.box20{
	vertical-align: top;
	font-size: 13px;
	width: calc(20% - 5px);
	display: inline-block;
	margin-bottom: 15px;
	background-color: #fff;
}

.box20:first-child{
	margin-right: 10px;
}

.box80{
	vertical-align: top;
	font-size: 13px;
	width: calc(80% - 5px);
	display: inline-block;
	margin-bottom: 15px;
	background-color: #fff;
}

.box80:first-child{
	margin-right: 10px;
}

/* Stats box */
.stats-col {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 21%;
  float:left;
}

.stats-row {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  width: 21%;
  height:100px;
}

.dashboard-stat {
  margin-bottom: 25px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.dashboard-stat:hover {
  margin-bottom: 25px;
  opacity: 1;
  filter: alpha(opacity=100);
}

.portlet .dashboard-stat:last-child {
  margin-bottom: 0;
}

.dashboard-stat:before,
.dashboard-stat:after {
  display: table;
  line-height: 0;
  content: "";
}
.dashboard-stat:after {
  clear: both;
}

.dashboard-stat .visual {
  width: 80px;
  height:80px;
  display: block;
  float: left;
  padding-top: 10px;
  padding-left: 15px;
  margin-bottom: 10px;
}

.dashboard-stat .visual i {
  font-size: 65px;
  line-height: 65px;
  color: #fff;
}

.dashboard-stat .visual {
  font-size: 35px;
  line-height: 35px;
}

@media (min-width: 992px) and (max-width: 1024px) {

  .dashboard-stat .visual i {
    font-size: 28px;
    line-height: 28px;
  }

}

.dashboard-stat .details {
  position: absolute;
  right: 15px;
  padding-right: 10px;
}

.dashboard-stat .details .number {
  padding-top: 15px;
  text-align: right;
  font-size: 34px;
  line-height: 34px;
  letter-spacing: -1px;
  margin-bottom: 5px;
  font-weight: 300;
  color: #fff;
}

.dashboard-stat .details .desc {
  text-align: right;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 300;
  color: #fff;
}

.dashboard-stat.blue {
  background-color: #27a9e3;
}

.dashboard-stat.green {
  background-color: #28b779;
}

.dashboard-stat.red {
  background-color: #e7191b;
}

.dashboard-stat.yellow {
  background-color: #ffb848;
}

.dashboard-stat.purple {
  background-color: #852b99;
}
